<launch>
  <master auto="start" />
  <param name="use_sim_time" value="true" />
  <param name="use_model_names" value="true"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find multi_robot_sim)/world/map.png 0.01" respawn="false">
    <param name="frame_id" value="map" />
  </node>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find multi_robot_sim)/world/world.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.1" />
  </node>
  
  <include file="$(find multi_robot_sim)/launch/bot.xml">
    <arg name="robot_name" value="robot_0" />
  </include>
  
  <include file="$(find multi_robot_sim)/launch/bot.xml">
    <arg name="robot_name" value="robot_1" />
  </include>
  
  <include file="$(find multi_robot_sim)/launch/bot.xml">
    <arg name="robot_name" value="robot_2" />
  </include>
  
  <include file="$(find multi_robot_sim)/launch/bot.xml">
    <arg name="robot_name" value="robot_3" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_sim)/rviz/robot.rviz" />

</launch>